@model GDG_Project.Models.Tournaments
@if (ViewBag.mes != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> @ViewBag.mes.
    </div>
}
    <div class="box-body">

        <div class="form-group">
            <label asp-for="MemberInfo" class="control-label">اسم اللاعب</label>
            <select asp-for="MemberInfo" class="form-control" asp-items="ViewBag.MemberInfo" required></select>
            <span asp-validation-for="MemberInfo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActId" class="control-label">اسم النشاط</label>
            <select asp-for="ActId" class="form-control" asp-items="ViewBag.ActId" required></select>
            <span asp-validation-for="ActId" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="TourName" class="control-label">اسم البطوله</label>
            <input type="text" asp-for="TourName" class="form-control" required />
            <span asp-validation-for="TourName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TourDate" class="control-label">تاريخ البطوله</label>
            <input asp-for="TourDate" class="form-control" type="date" />
            <span asp-validation-for="TourDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MemberLevel" class="control-label"> مركز اللاعب </label>
            <input type="text" asp-for="MemberLevel" class="form-control" required />
            <span asp-validation-for="MemberLevel" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="MemberImg" class="control-label">صوره اللاعب</label>
            <input type="file" asp-for="MemberImg" class="form-control" />
            <span asp-validation-for="MemberImg" class="text-danger"></span>
        </div>



        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title"> <label asp-for="TourDescription" class="control-label">وصف البطوله</label></h3>
                <!-- tools box -->
                <div class="pull-right box-tools">
                    <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>

                </div>
                <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                <textarea asp-for="TourDescription" id="editor1" name="editor1" rows="10" cols="80"></textarea>

            </div>
            <span asp-validation-for="TourDescription" class="text-danger"></span>
        </div>




        <!-- /.box -->


    </div>
<!-- /.box-body -->
<!-- /.box-body -->
<div class="form-group">

    <input type="submit" @Html.Raw(ViewData["Title"].ToString() == "Edit" ? "value=' تعديل '" : "value='اضافه'") class="btn btn-primary" />

</div>
<script src="~/lib/ckeditor/ckeditor.js">
</script>
<script>
    CKEDITOR.replace('editor1');
</script>


