@model GDG_Project.Models.EmpInfo

@{
    ViewData["Title"] = "CreateEmp";
    Layout = "~/Views/Shared/_BackeLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                   
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form asp-action="CreateEmp" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <partial name="_form" model="Model" />
                        </form>

                    
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>