@model GDG_Project.Models.Activates
@if (ViewBag.mes != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> @ViewBag.mes.
    </div>
}
@if (ViewData["Title"].ToString() == "Edit")
{
    <input type="hidden" asp-for="ActId" />
}
<div class="box-body">
    <div class="form-group">
        <label asp-for="ActName" class="control-label">اسم النشاط</label>
        <input type="text" class="form-control" asp-for="ActName" placeholder="اسم النشاط  " required>
        <span asp-validation-for="ActName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ActMinAge" class="control-label"> اقل عمر للاشتراك</label>
        <input type="number" asp-for="ActMinAge" class="form-control" placeholder="3  " required>
        <span asp-validation-for="ActMinAge" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ActActive" class="control-label">الحاله</label>
        <select class="form-control" asp-for="ActActive" required>
            <option disabled selected>الحاله</option>
            <option value="@Model.Active">فعال</option>
            <option value="@Model.NotActive">غير فعال</option>
        </select>
        <span asp-validation-for="ActActive" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="ActImg" class="control-label">صوره النشاط</label>
        <input type="file" asp-for="ActImg" class="form-control">
        <span asp-validation-for="ActImg" class="text-danger"></span>
    </div>
    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title"> <label asp-for="ActDescription" class="control-label">عن النشاط</label></h3>
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>

            </div>
            <!-- /. tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body pad">
            <textarea asp-for="ActDescription" cols="80" id="editor1" rows="10" data-sample-short"></textarea>

        </div>
        <span asp-validation-for="ActDescription" class="text-danger"></span>
    </div>


    <!-- /.box -->


</div>
<!-- /.box-body -->



<div class="form-group">

    <input type="submit" @Html.Raw(ViewData["Title"].ToString() == "Edit" ? "value=' تعديل '" : "value='اضافه'") class="btn btn-primary" />

</div>
<script src="~/lib/ckeditor/ckeditor.js">
</script>
<script>
    CKEDITOR.replace('editor1');
</script>