@model GDG_Project.Models.Activates
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_BackeLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">

                        <h3 class="box-title">@Model.ActName</h3>



                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form asp-action="Edit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <partial name="_form" model="Model" />
                            @*<input type="submit"  value="تعديل" class="btn btn-primary" />*@
                        </form>
                    </div>
                    <!-- /.box-body -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>